# Compiled binaries
/downcase
/exitcode
/ligaturize
/nr
/ord
/padleft
/padright
/random
/synchsafe-int
/upcase

# Compiled binary directories
/scala/

# Symbolic links
/mc-player-info
/sfmd
/shotcut
/teamspeak
/ts3client

# Third-party
/repo
