# Compiled binaries
/downcase
/exitcode
/ligaturize
/munch
/nr
/ord
/pad
/random
/synchsafe-int
/upcase

# Compiled binary directories
/src/iso-9-convert/project
/src/iso-9-convert/target

# Symbolic links
/mc-player-info
/sfmd
/shotcut
/teamspeak
/ts3client

# Third-party
/repo
