# Symbolic links
/exitcode
/iso-9-convert
/lf
/ligaturize
/mc-player-info
/mmix
/mmixal
/mmmix
/mmotype
/munch
/nr
/ord
/pad
/pwd-reverse
/random
/same-file
/sfmd
/shotcut
/synchsafe-int
/teamspeak
/ts3client

# Third-party
/repo
